
/* jewellery types section start */
.j-type-outer {
	display: block;
	padding: 20px 0;
	background-color: #fff;
}
.j-type-outer .j-type-inner {
	display: flex;
	flex-wrap: wrap;
}
.j-type-outer .j-type-inner .j-type {
	width: 50%;
	display: block;
	margin-bottom: 20px;
	padding: 0 10px;
	box-sizing: border-box;
}
.j-type-outer .j-type-inner .j-type .inner-type {
	position: relative;
    overflow: hidden;
}
.j-type-outer .j-type-inner .j-type .inner-type:hover>img{
    transform:scale(1.02);
    transition: .3s ease-out 0s;
}
.j-type-outer .j-type-inner .j-type .inner-type img{
    transition: .3s ease-out 0s;
}
.j-type-outer .j-type-inner .j-type .inner-type .j-type-info {
	position: absolute;
	top: 50%;
	right: 55px;
	text-align: right;
    transform: translate(0%,-50%);
}
.j-type-outer .j-type-inner .j-type .inner-type .j-type-info span {
	font-size: 15px;
	line-height: 1;
	margin: 0 0 10px 0;
	font-weight: 400;
	color: #888888;
	text-transform: uppercase;
	display: block;
}
.j-type-outer .j-type-inner .j-type .inner-type .j-type-info h4 {
	font-weight: 700;
	line-height: 1;
	font-size: 30px;
	color: #222222;
	text-transform: capitalize;
}
.j-type-outer .j-type-inner .j-type .inner-type .j-type-info button {
	background-color: transparent;
	display: inline-block;
	color: #222222;
	position: relative;
	padding-bottom: 4px;
	margin-top: 35px;
	border: none;
}
.j-type-outer .j-type-inner .j-type .inner-type .j-type-info button:hover a{
    color: #c29958;
}
.j-type-outer .j-type-inner .j-type .inner-type .j-type-info button:hover::after{
    background: #c29958 !important;
}
.j-type-outer .j-type-inner .j-type .inner-type .j-type-info button::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222222;
  height: 2px;
}
.j-type-outer .j-type-inner .j-type .inner-type .j-type-info button a {
	background-color: transparent;
	display: inline-block;
	color: #222222;
	border: none;
	font-size: 16px;
	transition: 0.3s ease;
}
/* jewellery types section end */