.variable .grouped-product-inner .product-details .product-options h4 {
	color: #222222;
	font-size: 13px;
	margin: 0 0 15px;
	letter-spacing: 1px;
}
.variable .grouped-product-inner .product-details .product-options select {
	background-color: #fcfcfc;
	border: 1px solid #efefef;
	height: 30px;
	padding: 5px 5px 5px 15px;
	width: 48%;
	display: block;
	margin-bottom: 20px;
}
.variable .grouped-product-inner .color-opt {
	position: relative;
}
.variable #rc-tabs-0-panel-2 div {
	font-size: 14px !important;
	display: flex;
}
.variable #rc-tabs-0-panel-2 div span {
	font-size: 12px !important;
	border: 1px solid #efefef;
	padding: 16px;
	width: 13%;
	margin: 0px !important;
}
.variable #rc-tabs-0-panel-2 div p {
	border: 1px solid #efefef;
	margin: 0px !important;
	padding: 16px;
	width: 87%;
}
.variable .grouped-product-inner .product-details .product-options .quantity-input {
	background: none;
	border: none;
	color: #222222;
	font-size: 14px;
	font-weight: 400;
	height: 48px;
	line-height: 48px;
	padding: 0;
	width: 100px;
	border-radius: 24px;
	text-align: center;
	border: 1px solid #efefef;
	margin-bottom: 10px;
	outline: none;
	margin-right: 25px;
}
.variable .grouped-product-inner .product-details .action-buttons {
	display: block;
	position: absolute;
}
.variable .grouped-product-inner .product-details .action-buttons {
	display: block;
	position: absolute;
	opacity: 0.5;
	top: 50%;
	right: 47%;
}
.variable .grouped-product-inner .product-details .action-buttons .btn-primary {
	width: 173px;
}
.variable .grouped-product-inner .product-details .price-range {
	margin: 20px 0;
}
.variable .grouped-product-inner .product-details .product-description {
	margin-bottom: 40px;
}
.variable .grouped-product-inner .product-details .product-options select {
	background-color: #fcfcfc;
	border: 1px solid #efefef;
	height: 30px;
	padding: 5px 5px 5px 15px;
	width: 48%;
	display: block;
	margin: 30px 0;
}
.variable .grouped-product-inner .product-details .product-meta {
	margin-top: 60px;
}