.external #rc-tabs-0-tab-1 ,#rc-tabs-0-tab-2,#rc-tabs-0-tab-3 {
	font-weight: 700;
	font-size: 22px;
	color: #343a40;
}
.external #rc-tabs-0-panel-1 div p {
	margin-bottom: 15px;
}
.external #rc-tabs-0-panel-2 div p{
	margin: 15px 0;
}
.external #rc-tabs-0-panel-3 div p{
	margin: 15px 0;
}
.external #rc-tabs-0-panel-2 div span {
	margin-bottom: 6px;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
}
.external #rc-tabs-0-panel-3 div span {
	margin-bottom: 6px;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
}